.div-background {
    position: relative;
}
.bg-image {
    width: 100%;
    height: 650px;
}
.baby-blue {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 100px;
    animation: babymove 15s infinite linear;
    animation-delay: 3s;
}
@keyframes babymove {
    from {right: 0px;}
    to {right: 1300px;}
}
.baby-yellow {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 250px;
    animation: babymove2 13s infinite linear;
    animation-delay: 4s;
}
@keyframes babymove2 {
    from {left: 0px;}
    to {left: 1200px;}
}
.baby-green {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 160px;
    animation: babymove3 13s infinite linear;
    animation-delay: 2s;
}
@keyframes babymove3 {
    from {right: 0px;}
    to {right: 1300px}
}
.toys {
    width: 200px;
    height: 150px;
    position: absolute;
    bottom: 0px;
}
.hanging-toys {
    width: 400px;
    height: 250px;
    position: absolute;
    top: 0px;
    animation: toptoys 2s infinite linear;
}
@keyframes toptoys {
    0%{transform: scaleX(-1);}
    50%{transform: scaleX(1);}
}
    
    