.div-background {
    position: relative;
}
.bg-image {
    width: 100%;
    height: 650px;
}
.baby-blue {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 100px;
    animation: babymove 6s infinite ease-in-out;
    animation-delay: 3s;
}
@keyframes babymove {
    from {right: 0px;}
    to {left: 500px;}
}
.baby-yellow {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 250px;
    animation: babymove2 5s infinite ease-in-out;
    animation-delay: 4s;
}
@keyframes babymove2 {
    from {right: 0px;}
    to {left: 600px;}
}
.baby-green {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 160px;
    animation: babymove3 4s infinite ease-in-out;
    animation-delay: 2s;
}
@keyframes babymove3 {
    from {right: 0px;}
    to {left: 50px}
}
.toys {
    width: 200px;
    height: 150px;
    position: absolute;
    bottom: 0px;
}
.hanging-toys {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0px;
    animation: toptoys 2s infinite linear;
}
@keyframes toptoys {
    0%{transform: scaleX(-1);}
    50%{transform: scaleX(1);}
}
    
    